* {
    margin: 0;
    padding: 0;
}

main {
    margin: auto;
    width: 1600px;
    height: 1000px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: "empty draw"
                        "letter draw";
    
}

h1 {
    text-align: center;
    margin: 25px;
}
#section-empty-letter {
    border: 1px solid blue;
    grid-area: empty;
    width: 100%;

}

#section-letter {
    border: 1px solid green;
    grid-area: letter;
    width: 100%;
}

#draw {
    border: 1px solid black;
    grid-area: draw;
    width: 100%;
}


#container-letter {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.letters {
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#container-random-letter {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.letter-random-word {
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    color : blueviolet;
    font-size: 25px;
}

#statut-fault {
    text-align: center;
}

#div-img {
    width: 50%;
    height: 50%;
    background-image: url(../images/pendu_0.jpg);
    background-size: cover;
}
